---
import BaseLayout from "#/layouts/base-layout.astro";
import Hero from "#/components/hero.astro";
import { SSApiService } from "#/lib/ss-api";
export const prerender = false;
const { site } = Astro.params;


---

<BaseLayout>
  <head slot="head">
    <title>{site}</title>
  </head>
  <main class="pb-32 pt-3">
    <Hero />
  </main>
</BaseLayout>
