---
import "#/styles/global.css";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" /><meta
      name="viewport"
      content="width=device-width"
    />
    <slot name="head" />
  </head>

  <body>
    <slot />
  </body>
</html>
