---
import "#/styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" /><meta
      name="viewport"
      content="width=device-width"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <slot name="head" />
    <ClientRouter transition:animate={"slide"} />
  </head>
  <body>
    <slot />
  </body>
</html>
